/* Reset some default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('https://cdn.vectorstock.com/i/500p/84/65/abstract-white-monochrome-background-vector-32028465.jpg');
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
    background-size: cover; 

}

/* Container to flex content and footer to bottom */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling */
header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

header h1 {
    font-size: 2.5em; /* Increased font size */
}

header img {
    width: 100px; /* Image width */
    height: auto;
}

/* Main content */
main {
    padding: 20px;
    flex: 1;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #0073e6;
}

/* Footer styling to keep it at the bottom */
.footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

ul li {
    margin-bottom: 5px; /* Adds space between list items */
    
}


  table, th, td {
    border: 1px solid #0073e6;
    font-size: 1.3rem;
  }
 